/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/
/* HEADLINE FONT */
@font-face {
  font-family: "Overpass" url("../fonts/Overpass-ExtraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: "Overpass" url("../fonts/Overpass-ExtraLight-Italic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: "Overpass" url("../fonts/Overpass-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Overpass" url("../fonts/Overpass-Light-Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: "Overpass" url("../fonts/Overpass-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Overpass" url("../fonts/Overpass-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: "Overpass" url("../fonts/Overpass-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "Overpass" url("../fonts/Overpass-Bold-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }
/* BASE STYLE */
html {
  font-size: 16px;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Overpass", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 1em; }

h1 {
  font-size: 2.074em; }

h2 {
  font-size: 1.728em; }

h3 {
  font-size: 1.44em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.833em; }

strong {
  font-weight: 600; }

em {
  font-style: italic; }

@media (max-width: 768px) {
  hgroup {
    padding: 0;
    width: 100vw;
    margin-left: 0;
    margin-right: 0; } }
hgroup h5 {
  color: #e92129;
  margin-bottom: 0.5em;
  padding: 0 0 0.5em;
  border-bottom: thick solid rgba(233, 33, 41, 0.8); }
hgroup h3 {
  font-weight: 600;
  padding: 0 0; }

p {
  margin-bottom: 1em;
  line-height: 1.5; }

article a {
  color: #e92129;
  text-decoration: none;
  box-shadow: inset 0 -0.1em rgba(233, 33, 41, 0.5);
  transition: all .2s ease-in-out;
  padding: 0.15em 0; }
  article a:hover {
    box-shadow: inset 0 -2em rgba(233, 33, 41, 0.1); }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.container {
  width: 100vw;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  flex: 1; }

header {
  width: 100vw;
  height: 60vh;
  background: rgba(26, 26, 26, 0.5);
  font-family: "Roboto", sans-serif;
  background-image: url(https://unsplash.it/1000/800);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  @media only screen and (max-width: 50em) {
    header {
      height: 100vh; } }
  header::after {
    content: '';
    position: absolute;
    width: 100vw;
    height: 60vh;
    display: block;
    top: 0;
    background: linear-gradient(to bottom, black 0%, transparent 18%, transparent 27%, transparent 75%, black 100%);
    background: linear-gradient(to bottom, black 0%, transparent 18%, transparent 27%, transparent 62%, black 100%); }
    @media only screen and (max-width: 50em) {
      header::after {
        height: 100vh; } }
  header hgroup {
    padding-top: 8em;
    padding-left: 0;
    border: 0;
    z-index: 100; }
    header hgroup::before {
      content: '';
      width: 200px;
      height: 80px;
      background: #e92129;
      display: block;
      margin: 1em auto;
      background-image: url(../img/sol-sprite.svg);
      background-repeat: no-repeat;
      background-position: 50% -92px; }
  header h1, header h2 {
    text-align: center;
    margin: 0 auto .2em;
    text-shadow: 0 1px 0 rgba(26, 26, 26, 0.5);
    color: white; }
  header h1 {
    font-weight: 600; }
  header .more {
    background-image: url(../img/sol-sprite.svg);
    background-position: 50% -175px;
    display: block;
    width: 72px;
    height: 52px;
    content: '';
    margin: auto;
    position: absolute;
    bottom: 1.5em;
    left: calc(50% - 36px);
    transition: all 0.5s ease-in-out;
    z-index: 1; }
    header .more:hover {
      bottom: 1em;
      transition: all 0.2s ease-in-out; }

nav {
  position: fixed;
  padding: 0.5em 1em;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: thick solid #e92129;
  box-shadow: 0 -1em 2em 2em rgba(26, 26, 26, 0.2);
  z-index: 20;
  height: auto; }
  @media only screen and (max-width: 50em) {
    nav {
      background-color: white; } }
  nav .nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0); }
    @media only screen and (max-width: 50em) {
      nav .nav-trigger:checked + label {
        display: block; } }
    @media only screen and (max-width: 50em) {
      nav .nav-trigger:checked + label + .navigation {
        overflow: scroll;
        min-height: 60vh;
        max-height: auto;
        opacity: 1; } }
    nav .nav-trigger + label {
      display: none; }
      @media only screen and (max-width: 50em) {
        nav .nav-trigger + label {
          display: block; } }
      @media only screen and (max-width: 50em) {
        nav .nav-trigger + label + .navigation {
          opacity: 0;
          overflow: hidden;
          min-height: 4em;
          max-height: 4em;
          display: block;
          transition: all .2s ease-in-out; } }
  nav label[for="nav-trigger"] {
    position: fixed;
    z-index: 12;
    width: 3em;
    height: 3em;
    cursor: pointer;
    background-image: url(../img/sol-sprite.svg);
    background-position: 50% -275px;
    background-size: auto;
    background-color: #e92129;
    right: 1em;
    top: 1em; }
  nav ul {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 50em) {
      nav ul {
        display: block; } }
  nav li {
    font-weight: 400;
    border-left: solid thin rgba(26, 26, 26, 0.1); }
    @media only screen and (max-width: 50em) {
      nav li {
        border: none; } }
    nav li:first-child {
      border: none; }
  nav a {
    color: #e92129;
    text-decoration: none;
    box-shadow: none;
    padding: 0.5em 1em;
    display: inline-block; }
    nav a:hover {
      box-shadow: none; }

article {
  position: relative; }

.backtotop {
  width: 36px;
  height: 36px;
  position: fixed;
  display: block;
  right: 1em;
  top: 5em;
  background-image: url(../img/sol-sprite.svg);
  background-repeat: no-repeat;
  background-position: 50% -235px;
  z-index: 12;
  text-indent: -9999px;
  transition: all .5s ease-in-out; }
  .backtotop:hover {
    top: 4.7em; }
  @media only screen and (max-width: 50em) {
    .backtotop {
      top: 8em; } }
  .backtotop:hover {
    bottom: 1.5em;
    transition: all .2s ease-in-out; }

section {
  padding-top: 1em; }

article {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  flex-direction: column;
  flex-wrap: wrap;
  border-top: medium solid rgba(26, 26, 26, 0.5);
  margin: 3em 0 1em;
  padding: 2em 0 1em; }
  @media only screen and (max-width: 50em) {
    article {
      flex-direction: column; } }
  article > * {
    width: 49%;
    max-width: 49%;
    min-width: 49%;
    align-self: flex-start;
    align-content: stretch; }
    @media only screen and (max-width: 50em) {
      article > * {
        padding: 0 2rem; } }

figure {
  margin-bottom: 1em;
  position: absolute;
  padding: 6em 1em 0 0; }
  @media (max-width: 768px) {
    figure {
      width: 100vw;
      margin: 0 0 2rem;
      padding: 0;
      position: relative;
      top: 0; } }
  figure::after {
    content: '';
    display: block;
    clear: both; }
  figure:nth-of-type(n+2) {
    border: thin dashed red; }
  figure img {
    display: block;
    width: 100%; }
    @media only screen and (max-width: 50em) {
      figure img {
        order: 0;
        width: 100vw; } }
  figure figcaption {
    font-style: italic;
    font-weight: 400;
    color: rgba(26, 26, 26, 0.8);
    font-size: 0.833em;
    padding: 0.5em 0.5em 0.75em;
    background-color: rgba(26, 26, 26, 0.1); }
    @media only screen and (max-width: 50em) {
      figure figcaption {
        order: 0;
        width: 100vw; } }
    figure figcaption strong {
      font-style: normal;
      text-transform: uppercase;
      color: #c4131a; }
      figure figcaption strong::after {
        content: ': '; }

article ul {
  margin-bottom: 1em; }
  article ul > li::before {
    content: '';
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    border-radius: 100%;
    margin-right: .5em;
    background-color: #e92129;
    top: -0.1em; }
article ol {
  padding: 1em;
  margin-bottom: 1em;
  counter-reset: li;
  list-style: none;
  position: relative; }
  @media (max-width: 768px) {
    article ol {
      padding: 0 3em;
      width: 100vw; } }
  article ol > li {
    text-indent: 0;
    margin: 0 0 0.5em 0;
    padding: 0.1em 0 0 2.5em;
    position: relative;
    background: rgba(26, 26, 26, 0.2); }
    article ol > li::before {
      content: counter(li);
      /* Use the counter as content */
      counter-increment: li;
      /* Increment the counter by 1 */
      display: inline-block;
      width: 1.5em;
      height: 100%;
      padding: 0.05em 0.2em;
      margin: 0 0.5em 0 0;
      text-align: center;
      color: white;
      background-color: rgba(26, 26, 26, 0.2);
      border-left: medium solid #1a1a1a;
      border-right: medium solid transparent;
      position: absolute;
      left: 0em;
      top: 0em; }
    article ol > li:nth-child(even) {
      background: rgba(26, 26, 26, 0.1); }
article li {
  margin: 0 0 0.5em 0;
  line-height: 1.5;
  position: relative;
  /* Create a positioning context */
  list-style: none;
  /* Disable the normal item numbering */ }
  article li::before {
    content: '';
    display: inline-block;
    margin-right: .5em;
    background-color: #e92129;
    position: relative;
    top: -0.1em; }

section {
  padding-top: 1em; }

article {
  display: flex;
  justify-content: space-between;
  border-top: medium solid rgba(26, 26, 26, 0.5);
  margin: 3em 0;
  padding: 2em 0; }
  @media only screen and (max-width: 50em) {
    article {
      flex-direction: column; } }
  article .page-title {
    flex: 1 0 0;
    padding-right: 1em; }
    article .page-title h5 {
      color: #e92129;
      margin-bottom: 0.5em;
      padding: 0 3rem 0.5em;
      border-bottom: thin solid rgba(233, 33, 41, 0.5); }
    article .page-title h3 {
      font-weight: 600;
      padding: 0 3rem; }
  article .page-descr {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    padding-left: 1em; }
    @media only screen and (max-width: 50em) {
      article .page-descr > *:not(figure) {
        padding: 0 3em; } }
  article p {
    margin-bottom: 1em;
    line-height: 1.5; }
  article figure {
    margin-bottom: 1em;
    flex: 0 0 0; }
    article figure img {
      display: block;
      width: 100%; }
    article figure figcaption {
      font-style: italic;
      font-weight: 400;
      color: rgba(26, 26, 26, 0.8);
      font-size: 0.833em;
      padding: 0.5em 0.5em 0.75em;
      background-color: rgba(26, 26, 26, 0.1); }
      article figure figcaption strong {
        font-style: normal;
        text-transform: uppercase;
        color: #c4131a; }
        article figure figcaption strong::after {
          content: ': '; }
  article ul {
    margin-bottom: 1em; }
    @media only screen and (max-width: 50em) {
      article ul {
        padding: 0 3em; } }
    article ul > li::before {
      content: '';
      display: inline-block;
      width: 0.6em;
      height: 0.6em;
      border-radius: 100%;
      margin-right: .5em;
      background-color: #e92129;
      top: -0.1em; }
  article ol {
    margin-bottom: 1em;
    counter-reset: li;
    /* Initiate a counter */
    list-style: none;
    /* Remove default numbering */ }
    article ol > li::before {
      content: counter(li);
      /* Use the counter as content */
      counter-increment: li;
      /* Increment the counter by 1 */
      display: inline-block;
      width: 1.5em;
      padding: 0.2em;
      margin-right: .5em;
      text-align: center;
      color: white;
      background-color: rgba(26, 26, 26, 0.8); }
  article li {
    margin: 0 0 0.5em 1em;
    line-height: 1.5;
    position: relative;
    /* Create a positioning context */
    list-style: none;
    /* Disable the normal item numbering */
    margin-left: 0; }
    article li::before {
      content: '';
      display: inline-block;
      margin-right: .5em;
      background-color: #e92129;
      position: relative;
      top: -0.1em; }

footer {
  font-size: 0.833em;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  width: 100vw;
  padding: 2em;
  background-color: rgba(26, 26, 26, 0.8);
  color: rgba(255, 255, 255, 0.8); }
