@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

// Change the grid settings
$column: 490px;
$gutter: 10px;
$grid-columns: 2;
$max-width: 800px;

// Define your breakpoints

$mobile: new-breakpoint(max-width 800px 4);