section {
  padding-top: 1em;
}
article {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  flex-direction: row;
  flex-wrap: wrap;

  border-top: medium solid $bk-tr-5;
  margin: 3em 0;
  padding: 2em 0;


  // Small screens
  @media only screen
  and (max-width: 50em) {
    flex-direction: column;
  }



  hgroup {
    padding-right: 1em;
    order: -1;
    flex: 2;



    // Small screens
    @media only screen
    and (max-width: 50em) {
      padding-right: 0;
      width: 100vw;
      margin-left: 0;
      margin-right: 0;
    }

    h5 {
      color: $rd-md;
      margin-bottom: 0.5em;
      padding: 0 3rem 0.5em;
      border-bottom: thin solid $rd-tr-5;

    }
    h3 {
      font-weight: 600;
      padding: 0 3rem;
    }
  }

  > * {
    flex: 2;
    padding-right: 1em;
    align-self: flex-start;
    align-content: stretch;

    // Small screens
    @media only screen
    and (max-width: 50em) {
      padding-right: 0;
      width: 80vw;
      margin-left: auto;
      margin-right: auto;
    }
  }
  p {
    margin-bottom: 1em;
    line-height: 1.5;

    // Small screens
    @media only screen
    and (max-width: 50em) {
      // padding: 0 3em;
    }
  }



  figure {
    margin-bottom: 1em;
    min-width: 50%;
    order: -1;

    // Small screens
    @media only screen
    and (max-width: 50em) {
      order: 0;
      width: 100vw;
      margin-left: 0;
      margin-right: 0;
    }
    img {
      display: block;
      // Small screens

      @media only screen
      and (max-width: 50em) {
        order: 0;
        width: 100vw;
      }
    }
    figcaption {
      font-style: italic;
      font-weight: 400;
      color: $bk-tr-8;
      font-size: 0.833em;
      padding: 0.5em 0.5em 0.75em;
      background-color: $bk-tr-1;

      // Small screens
      @media only screen
      and (max-width: 50em) {
        order: 0;
        width: 100vw;
      }

      strong {
        font-style: normal;
        text-transform: uppercase;
        color: $rd-dk;

        &::after {
          content: ': ';
        }
      }
    }
  }
  ul {
    margin-bottom: 1em;

    // Small screens
    @media only screen
    and (max-width: 50em) {
      // padding: 0 3em;
    }

    > li {

      &::before {
        content: '';
        display: inline-block;
        width: 0.6em;
        height: 0.6em;
        border-radius: 100%;
        margin-right: .5em;
        background-color: $rd-md;
        // position: relative;
        top: -0.1em;
      }
    }
  }
  ol {
    margin-bottom: 1em;
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */


    > li {

      &::before {
        content:counter(li); /* Use the counter as content */
        counter-increment:li; /* Increment the counter by 1 */
        display: inline-block;
        width: 1.5em;
        padding: 0.2em;
        margin-right: .5em;
        text-align: center;
        color: $wh-lt;
        background-color: $bk-tr-8;
      }
    }
  }
  li {
    margin: 0 0 0.5em 1em;
    line-height: 1.5;
    position:relative; /* Create a positioning context */
    list-style:none; /* Disable the normal item numbering */
    margin-left: 0;

    &::before {
      content: '';
        display: inline-block;
        margin-right: .5em;
        background-color: $rd-md;
        position: relative;
        top: -0.1em;
    }
  }
}