article{

  ul {
    margin-bottom: 1em;

    > li {
      &::before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        margin-right: .5em;
        background-color: $rd-md;
        // position: relative;
        top: -0.1em;
      }
    }
  }
  ol {
    // padding: 1em;
    margin-bottom: 1em;
    counter-reset: li;
    list-style: none;
    position: relative;

    @include mobile {
      // padding: 0 3em;
      width: 100vw;

    }

    > li {
      margin: 0 0 0.2em 0;
      padding: 0.5em 0.5em 0.5em 2.2em;
      position: relative;
      // background: $bk-tr-1;

      &::before {
        content: counter(li);
        counter-increment: li;
        display: inline-block;
        width: 1.5em;
        // height: 100%;
        padding: 0.05em 0.2em;
        margin: 0 0.5em 0 0;
        text-align: center;
        color: $wh-lt;
        background: $rd-md;
        // border-left: medium solid $bk-dk;
        border-right: medium solid transparent;
        position: absolute;
        left: 0em;
        top: 0.5em;
      }
      &:nth-child(even) {

      }
    }
  }
  li {
    margin: 0 0 0.5em 0;
    line-height: 1.5;
    position:relative; /* Create a positioning context */
    list-style:none; /* Disable the normal item numbering */

  &::before {
    content: '';
      display: inline-block;
      margin-right: .5em;
      background-color: $rd-md;
      position: relative;
      top: -0.1em;
    }
  }
}