section {
  @include outer-container;

  // Small screens
  @media only screen
  and (max-width: 50em) {

  }

}
article {
  // @include span-columns(2);
  position: relative;

  @include media($mobile) { // As defined in _grid-settings.scss
    // @include span-columns(1);
  }
}

.backtotop {
  width: 36px;
  height: 36px;
  position: fixed;
  display: block;
  right: 1em;
  top: 5em;
  background-image: $sprite;
  background-repeat: no-repeat;
  background-position: 50% -235px;
  z-index: 12;
  text-indent: -9999px;
  transition: all .5s ease-in-out;

  &:hover {
    top: 4.7em;
  }

  // Small screens
  @media only screen
  and (max-width: 50em) {
    top: 8em;
  }

  &:hover {
    bottom: 1.5em;
    transition: all .2s ease-in-out;
  }
}