section {

  @include mobile {

  }

}
article {


  @include mobile {
    order: 1;
  }

  hgroup {
    order: 0;

    @include mobile {
      order: 1;
    }
  }

  figure {
    order: 0;

    @include mobile {
      order: 1;
    }

    &:last-of-type {
      flex-break: after;
    }
  }
  p, ul, ol {
    order: 1;
    align-self: baseline;

    @include mobile {
      order: 1;
    }
  }
}

.backtotop {
  width: 52px;
  height: 64px;
  position: fixed;
  display: block;
  right: 0em;
  top: 10em;
  background-image: $sprite;
  background-repeat: no-repeat;
  background-position: 48% -216px;
  background-color: $wh-tr-6;
  z-index: 12;
  text-indent: -9999px;
  transition: all .5s ease-in-out;
  border-radius: 0.3em 0 0 0.3em;

  &:hover {
    top: 9.75em;
  }


  @include mobile {
    // top: 9.75em;
  }

  &:hover {
    bottom: 1.5em;
    transition: all .2s ease-in-out;
  }
}