section {
  width: 50em;
  margin: auto;

  // Small screens
  @media only screen
  and (max-width: 50em) {
    width: 100vw;
  }

}

.backtotop {
  width: 36px;
  height: 36px;
  position: fixed;
  display: block;
  right: 1em;
  top: 5em;
  background-image: $sprite;
  background-repeat: no-repeat;
  background-position: 50% -235px;
  z-index: 12;
  text-indent: -9999px;
  transition: all .5s ease-in-out;

  // Small screens
  @media only screen
  and (max-width: 50em) {
    top: 8em;
  }

  &:hover {
    bottom: 1.5em;
    transition: all .2s ease-in-out;
  }
}